<div>
    <p-card header="Película">
        <p-card>
            <div>
                <h3>Título</h3>
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Título</label>
                </span>  
            </div>
            <div>
                <h3>Director</h3>
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Director</label>
                </span>  
            </div>
        </p-card>        
    </p-card>      
</div>

